{% extends 'base.html' %}
{% block content %}
<br><br>
<div style="text-align: center; margin-top: 50px;">
    <h2>Select What You Want to Create</h2>
    
    <!-- Buttons for creating a post or reel -->
    <div style="margin-top: 20px;">
        <a href="{% url 'newpost' %}" class="btn btn-primary" style="margin-right: 20px;">Create Post</a>
        <style>
            .gradient-btn {
                background: linear-gradient(45deg,rgb(216, 7, 7),rgb(255, 85, 0));
                color: white;
                border: none;
            }
            .gradient-btn:hover {
                background: linear-gradient(45deg,rgb(255, 85, 0), rgb(216, 7, 7)); /* Reversed gradient on hover */
                color: white;
            }
        </style>
        
        <a href="{% url 'reel-create' %}" class="btn gradient-btn">Create Reel</a>
    </div>
</div>
{% endblock content %}